---
title: Projects
layout: secondary
---

	{{ projects }}
	<div id="projects">
		<section class="container">
			{% assign years = "2022, 2021" | split: ", " %}
			{% for year in years %}
			<h3>{{ year }}</h3>
			<div class="row">
				{% assign year_projects = site.projects | where: 'year', year %}
				{% for proj in year_projects %}
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-cogs fa-2x"></i>
						<div class="text">
							<h4><a href="{{ proj.url }}">{{ proj.title }}</a></h4>
							<span class="label">PI: </span>{{ proj.pi }}<br/>
							<span class="label">Intern: </span>{{ proj.intern }}<br/>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</section>
	</div>
	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article content -->
			<section class="col-sm-12 maincontent">
				<h3>Responsive Website</h3>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<h3>Bootstrap</h3>
				<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</section>
		</div>
	</div>
	<!-- /container -->