---
title: Projects
layout: secondary
---

	<div id="projects">
		<section class="container">
			{% assign years = "2023, 2022, 2021" | split: ", " %}
			{% for year in years %}
			<h3>{{ year }}</h3>
			<div class="row">
				{% assign year_projects = site.projects | where: 'year', year %}
				{% for proj in year_projects %}
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-cogs fa-2x"></i>
						<div class="text">
							<h5><a href="{{ proj.url | relative_url }}">{{ proj.title }}</a></h5>
							<span class="label">PI: </span>{{ proj.pi }}<br/>
							<span class="label">Intern: </span>{{ proj.intern }}<br/>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</section>
	</div>
	<!-- /container -->